<StackLayout class="comment-form"
             [class.comment-form--edit]="editForm">

    <FlexboxLayout>

        <StackLayout class="comment-form__avatar">

            <avatar *ngIf="asWedding && activeProfile"
                    [dir]="'wedding/' + activeProfile.id + '/' + 'avatars'"
                    [filename]="activeProfile.avatar"
                    [size]="25">
            </avatar>
            <avatar *ngIf="!asWedding"
                    [dir]="'account/' + authInfo.account.id + '/' + 'avatars'"
                    [filename]="authInfo.account.avatar"
                    [size]="25">
            </avatar>

        </StackLayout>
        <!--(returnPress)="submit($event)"-->
        <TextView class="input input--light input--textarea input--transparent"
                  returnKeyType="send"
                  [text]="commentFormData.text"
                  (loaded)="onTextViewLoaded($event)"
                  (textChange)="setValue('text', $event, 'value')"
                  hint="Write a comment...">
        </TextView>
    </FlexboxLayout>

    <FlexboxLayout justifyContent="center" class="m-t-15">
        <button class="btn btn--danger btn--sides-padding btn--xs text-uppercase m-r-10" text="cancel"
                (tap)="cancelEdit()">
        </button>

        <button class="btn btn--action btn--sides-padding btn--xs text-uppercase" text="submit"
                (tap)="onSubmit()">
        </button>
    </FlexboxLayout>

</StackLayout>
