@import '../../../../resources/scss/variables';

.comment-form {
	padding: 15dp;

	&--edit {
		border-top-width: 1dp;
		border-bottom-width: 1dp;
		border-color: $light-gray-border;
	}

	&__avatar {
		margin-top: 2dp;
		width: 25dp;
	}

	.input--light {
		margin-left: 10dp;
		font-size: 14dp;
		margin-top: 5dp;
		padding: 0 10dp;
	}
}