<h4 class="strong mt-4">{{ 'Partners' | translate }}</h4>

<span *ngIf="loading">
    {{ 'Loading' | translate }}...
</span>

<div *ngFor="let partner of partners; let i = index" class="edit-row">

    <div class="edit-row__edit-btn"
         *ngIf="!editActive[i]"
         (click)="editRow(i)">
        <mat-icon svgIcon="pencil"></mat-icon>
        {{ 'Edit' | translate }}
    </div>

    <dl class="row"
        *ngIf="!editActive[i]">

        <dt class="col-sm-3 text-sm-right">{{ 'Avatar' | translate }}</dt>
        <dd class="col-sm-9">
            <avatar [filename]="partner.avatar ? avatarUrlPrepend + partner.avatar : partner.avatar"
                    [size]="50">
            </avatar>
        </dd>
        <dt class="col-sm-3 text-sm-right">{{ 'Name' | translate }}</dt>
        <dd class="col-sm-9">
            {{partner.firstName}} {{partner.lastName}}
        </dd>
        <dt class="col-sm-3 text-sm-right">{{ 'Role' | translate }}</dt>
        <dd class="col-sm-9 text-capitalize">{{partner.role | translate}}</dd>
        <dt class="col-sm-3 text-sm-right">{{ 'Description' | translate }}</dt>
        <dd class="col-sm-9">
            {{partner.description}}
        </dd>

    </dl>

    <form *ngIf="editActive[i]">

        <div class="row wedding-form-row">
            <label class="col-sm-3 text-right edit-row__label ">
                {{ 'Avatar' | translate }}
            </label>
            <div class="col-sm-9">
                <div class="form-group avatar-preview">
                    <avatar *ngIf="avatarUrls[i]" [src]="sanitizer.bypassSecurityTrustUrl(avatarUrls[i])"
                            [size]="120"
                            [square]="true">
                    </avatar>
                    <avatar *ngIf="!avatarUrls[i]"
                            [filename]=""
                            [size]="120"
                            [square]="true">
                    </avatar>
                </div>
                <image-input [formData]="formData"
                             [fieldName]="'partners[' + i + '][avatar]'"
                             [validate]="true"
                             (previewUrl)="avatarUrls[i] = $event"
                             (isValid)="isImageValid[i] = $event">
                </image-input>
                <div *ngIf="!isImageValid[i]" class="invalid-feedback" style="display: block;">
                    {{ 'Invalid image size, min. 200 x 200 px' | translate }}
                </div>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center wedding-form-row">
            <label class="col-sm-3 text-sm-right edit-row__label">
                {{ 'First name' | translate }}
            </label>
            <input type="text"
                   [value]="partner.firstName"
                   class="col-sm-9 form-control"
                   (change)="handleInput($event.target.value, 'firstName', i)"/>
        </div>

        <div class="d-flex flex-row align-items-center wedding-form-row">
            <label class="col-sm-3 text-sm-right edit-row__label">
                {{ 'Last name' | translate }}
            </label>
            <input type="text"
                   [value]="partner.lastName"
                   class="col-sm-9 form-control"
                   (change)="handleInput($event.target.value, 'lastName', i)"/>
        </div>

        <div class="d-flex flex-row align-items-center wedding-form-row">
            <label class="col-sm-3 text-sm-right edit-row__label">
                {{ 'Role' | translate }}
            </label>
            <select [(ngModel)]="form[i].role"
                    name="role"
                    class="form-control">
                <option [value]="WeddingRoleEnum.Bride">{{ 'Bride' | translate }}</option>
                <option [value]="WeddingRoleEnum.Groom">{{ 'Groom' | translate }}</option>
            </select>
        </div>

        <div class="d-flex flex-row align-items-center wedding-form-row">
            <label class="col-sm-3 text-sm-right edit-row__label">
                {{ 'Description' | translate }}
            </label>
            <input type="text"
                   [value]="partner.description"
                   class="col-sm-9 form-control"
                   (change)="handleInput($event.target.value, 'description', i)"/>
        </div>

        <div class="d-flex flex-row align-items-center justify-content-center mt-3">

            <button class="btn btn-danger mr-2" (click)="cancelEdit(i)">
                {{ 'Cancel' | translate }}
            </button>

            <button class="btn btn-primary" (click)="submit(i)">
                {{ 'Submit' | translate }}
            </button>

        </div>

    </form>

    <hr *ngIf="i === 0">

</div>
