<ScrollView height="100%">
    <StackLayout width="100%" height="auto"
                 class="standard-padding">

        <Label class="input-label" text="Picture">
        </Label>

        <upload-photo (photoSelected)="setValue('avatar', $event)">
        </upload-photo>

        <Label class="input-label" text="First name*">
        </Label>

        <TextField class="input input--light"
                   (textChange)="setValue('firstName', $event, 'value')">
        </TextField>

        <Label class="input-label" text="Last name*">
        </Label>

        <TextField class="input input--light"
                   (textChange)="setValue('lastName', $event, 'value')">
        </TextField>

        <Label class="input-label" text="Role*">
        </Label>

        <select-input [items]="roles" [hint]="'Select role'"
                      (itemSelected)="setValue('role', $event)">
        </select-input>

        <Label class="input-label" text="Birth Date*">
        </Label>

        <date-input (dateChanged)="setValue('birthDate', $event)"
                    [useHours]="true">
        </date-input>

        <Label class="input-label" text="Description">
        </Label>

        <TextView class="input input--light input--textarea"
                  (textChange)="setValue('name', $event, 'value')">
        </TextView>

        <StackLayout class="divider">
        </StackLayout>

        <FlexboxLayout class="bottom-buttons">

            <StackLayout class="bottom-buttons__first" width="50%">

                <Button class="btm btn--light-gray next-step-btn btn--md btn--semibold text-uppercase"
                        (tap)="previousStep()"
                        text="Previous step">
                </Button>

            </StackLayout>

            <StackLayout class="bottom-buttons__last" width="50%">

                <Button 
                    *ngIf="values.firstName != '' && values.lastName != '' && values.role != ''"
                class="btm btn--action next-step-btn btn--md btn--semibold text-uppercase"
                        (tap)="nextStep()"
                        text="Next step">
                </Button>


            </StackLayout>

        </FlexboxLayout>

    </StackLayout>
</ScrollView>