<!DOCTYPE html>
<html>

<head>

</head>
    {{> layouts/partials/head}}
<body>
    {{> components/navbar/index}}
    {{{ body }}}
</body>

{{> layouts/partials/footer}}
{{> layouts/partials/scripts}}


</html>