<li class="guest" [hidden]="hidden" (click)="edit(guest)">
    <div class="name">
        {{guest.firstName}} {{guest.lastName}}
    </div>
    <div class="role">
        <span *ngIf="guest.role" class="badge badge-pill badge-secondary">{{guest.role.name}}</span>
    </div>
    <div class="side">
        <span *ngIf="guest.side">{{ guest.side.name + ' side' | translate }}</span>
    </div>
    <div class="status">
        <small class="d-sm-none text-muted mr-1">{{ 'Ceremony' | translate }}</small>
        <mat-icon *ngIf="guest.ceremonyGuestStatus.id == 1" svgIcon="minus"></mat-icon>
        <mat-icon *ngIf="guest.ceremonyGuestStatus.id == 2" svgIcon="checkbox-blank-circle-outline"></mat-icon>
        <mat-icon *ngIf="guest.ceremonyGuestStatus.id == 3" class="text-success" svgIcon="checkbox-marked-circle-outline"></mat-icon>
        <mat-icon *ngIf="guest.ceremonyGuestStatus.id == 4" class="text-danger" svgIcon="close-circle-outline"></mat-icon>
    </div>
    <div class="status">
        <small class="d-sm-none text-muted mr-1">{{ 'Reception' | translate }}</small>
        <mat-icon *ngIf="guest.receptionGuestStatus.id == 1" svgIcon="minus"></mat-icon>
        <mat-icon *ngIf="guest.receptionGuestStatus.id == 2" svgIcon="checkbox-blank-circle-outline"></mat-icon>
        <mat-icon *ngIf="guest.receptionGuestStatus.id == 3" class="text-success" svgIcon="checkbox-marked-circle-outline"></mat-icon>
        <mat-icon *ngIf="guest.receptionGuestStatus.id == 4" class="text-danger" svgIcon="close-circle-outline"></mat-icon>
    </div>
    <div class="actions">
        <div class="nav-item dropdown" ngbDropdown placement="bottom-right">
            <mat-icon svgIcon="dots-horizontal" data-toggle="dropdown" ngbDropdownToggle></mat-icon>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" ngbDropdownMenu>
                <a class="dropdown-item link" (click)="edit(guest)">{{ 'Edit' | translate }}</a>
                <a class="dropdown-item link text-danger" (click)="delete()">{{ 'Delete' | translate }}</a>
            </div>
        </div>
    </div>
</li>
