<ScrollView width="100%" [height]="containerHeight"
            class="gray-bg">
          
    <StackLayout width="100%" height="auto">
       
        <FlexboxLayout alignItems="center" justifyContent="space-between">

            <Label class="text-l standard-padding section-header"
                   text="Marketplace">
            </Label>

            <FlexboxLayout class="btn btn--flex btn--action btn_filter">

                <Label text="&#xe91a;" class="icon"></Label>

                <Label class="btn__text"
                        (tap)="filter()"
                       text="Filter">
                </Label>

            </FlexboxLayout>

        </FlexboxLayout>

        <marketplace  *ngFor="let marketplace of vendors"
               [marketplace]="marketplace">
        </marketplace>

    </StackLayout>

</ScrollView>
