<FlexboxLayout height="100%"
               justifyContent="center"
               flexDirection="column"
               width="90%"
               alignItems="stretch">

    <Label class="header"
           text="Remind password"></Label>

    <TextField class="input" autocorrect="false"
               hint="Your e-mail address"
               text=""
               (textChange)="onFieldChange($event, 'email')"
               returnKeyType="next"></TextField>

    <Button class="btn btn--default btn--margin"
            text="Send remind email"
            (tap)="remindPassword()"></Button>

</FlexboxLayout>