@import '../../../resources/scss/variables';

.radio-buttons {
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 15dp 0 5dp;

	&__button {
		align-items: center;
		flex-grow: 1;
		padding-bottom: 10dp;
	}

	&__radio {
		align-items: center;
		justify-content: center;
		width: 26dp;
		height: 26dp;
		border-width: 1dp;
		border-color: $input-border;
		border-radius: 100%;
		margin-right: 10dp;
	}

	&__radio-inner {
		width: 16dp;
		height: 16dp;
		border-radius: 100%;
		background: #85959b;
	}

	&__label {
		color: $gray;
		font-size: 14dp;
	}

}