<FlexboxLayout class="radio-buttons">

    <FlexboxLayout *ngFor="let option of radioOptions"
                   class="radio-buttons__button"
                   (tap)="setActive(option)">

        <FlexboxLayout class="radio-buttons__radio">
            <Label class="radio-buttons__radio-inner"
                         *ngIf="option.selected">
            </Label>
        </FlexboxLayout>

        <Label class="radio-buttons__label"
               [text]="option.label">
        </Label>

    </FlexboxLayout>

</FlexboxLayout>