<StackLayout class="gray-bg">

    <StackLayout class="couple-informations">

        <StackLayout *ngFor="let event of events">
            <Label class="input-label" [text]="event? event.type + ' date':'' ">
            </Label>

            <Label class="couple-informations__info" [text]="event.date | amDateFormat:'lll'">
            </Label>

            <Label class="input-label" [text]="event.type + ' location'">
            </Label>

            <Label class="couple-informations__info" [text]="event?event.placeName+' '+event.address:'' ">
            </Label>
        </StackLayout>
        
        <StackLayout class="divider"></StackLayout>

        <StackLayout class="opinion" *ngFor="let partner of partners">

            <StackLayout>
                <avatar [dir]="'wedding/' + wedding.id + '/avatars'"
                    [filename]="partner? partner.avatar : '' "                
                    [size]="45"></avatar>
            </StackLayout>

            <StackLayout class="p-l-10">

                <Label class="opinion__title" [text]="partner.firstName +' ' + partner.lastName">
                </Label>

                <Label class="opinion__text" textWrap="true"
                       [text]="partner.description">
                </Label>

            </StackLayout>

        </StackLayout>       

        <StackLayout class="divider"></StackLayout>


        <Label class="input-label m-t-10"
               text="Our story">
        </Label>

        <Label class="couple-informations__story"
               textWrap="true"
               [text]="wedding? wedding.description: ''">
        </Label>

    </StackLayout>

</StackLayout>