<div class="comment position-relative clearfix">

    <div *ngIf="!editActive">
        <cdn-image *ngIf="!comment.asWedding" class="avatar" [dir]="'account/' + comment.author.account.id + '/' + 'avatars'" [filename]="comment.author.account.avatar" [width]="24" [rounded]="true"></cdn-image>
        <a *ngIf="comment.asWedding" [routerLink]="['/wedding', comment.author.wedding.id]"><cdn-image class="avatar" [dir]="'wedding/' + comment.author.wedding.id + '/' + 'avatars'" [filename]="comment.author.wedding.avatar" [width]="24" [rounded]="true"></cdn-image></a>
        <div class="comment-body">
            <strong *ngIf="!comment.asWedding">{{comment.author.account.firstName}} {{comment.author.account.lastName}}</strong>
            <a *ngIf="comment.asWedding" [routerLink]="['/wedding', comment.author.wedding.id]"><strong>{{comment.author.wedding.name}}</strong></a>
            {{comment.text}}
        </div>
        <small>{{comment.createdAt | amTimeAgo}}</small>
    </div>

    <comment-form *ngIf="editActive"
                  [postId]="postId"
                  [editForm]="true"
                  [comment]="comment"
                  [weddingId]="weddingId"
                  [asWedding]="asWedding"
                  (onSuccess)="onCommentEditSuccess($event)"
                  (cancelEditEvent)="toggleEdit()">
    </comment-form>


    <div class="actions" *ngIf="comment.author.account.id === authInfo.account.id && !editActive">
        <div class="nav-item dropdown" ngbDropdown placement="bottom-right">
            <mat-icon svgIcon="dots-horizontal" data-toggle="dropdown" ngbDropdownToggle></mat-icon>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" ngbDropdownMenu>
                <a class="dropdown-item link" (click)="toggleEdit()">{{ 'Edit' | translate }}</a>
                <a class="dropdown-item link text-danger" (click)="deleteComment()">{{ 'Delete' | translate }}</a>
            </div>
        </div>
    </div>
</div>
