@import '../../../../resources/scss/variables';

.task {
	flex-direction: column;
	background: white;
	margin-bottom: 10dp;

	&--done {
		background: $green-bg;

		label {
			color: white;
		}

		.task {
			&__main {
				.icon {
					color: white;
				}
			}

			&__status {
				color: $gray;
			}
		}
	}

	&__extra, &__main {
		align-items: center;
	}

	&__main {
		padding: 10dp 0;

		.icon {
			font-size: 24dp;
			color: $light-gray-text;
		}
	}

	&__name {
		padding: 0 20dp;
	}

	&__status {
		margin-left: 5dp;
		padding: 3dp 10dp;
		border-radius: 15dp;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 14dp;

		&--in-progress, &--overdue {
			color: white;
		}

		&--in-progress {
			background: $deep-blue;
		}

		&--overdue {
			background: #d73d11;
		}

		&--done {
			background: white;
		}
	}

	&__extra {
		justify-content: space-between;
		align-items: center;
		padding-left: 40dp;
	}

	&__created-date {
		font-weight: 300;
		font-size: 11dp;
		color: #898e90;
	}
}

.show_more{
	padding:0% 5% 10% 15%;
}