<ScrollView width="100%"
            [height]="containerHeight"
            class="gray-bg">
    <StackLayout width="100%" height="auto">

        <FlexboxLayout alignItems="center" justifyContent="space-between">
            <Label class="text-l standard-padding section-header"
                   text="Guests"></Label>
            <FlexboxLayout class="btn btn--flex btn--action btn--small">

                <Label text="&#xe90a;" class="icon"></Label>
                <Label class="btn__text"
                       (tap)="openAddGuestModal()"
                       text="Add a guest"></Label>

            </FlexboxLayout>
        </FlexboxLayout>

        <guest  *ngFor="let guest of guests"
                [guest]="guest"></guest>

    </StackLayout>
</ScrollView>
