@import './variables.scss';

.alert {

	label {
		margin: 0;
	}

	&--danger {
		background: $danger;
		border: 0;
		color: #fff;
		font-weight: 600;
	}

}


.input {
	background: $light-gray;
	color: $light-gray-text;
	margin-bottom: 20dp;
	height: 60dp;
	text-align: center;

	&--light {
		height: 45dp;
		background: white;
		font-size: 16dp;
		border-color: $input-border;
		border-width: 1dp;
		border-radius: 1dp;
		text-align: left;
		margin: 10dp 0;
		padding: 10dp 15dp;
	}

	&--transparent {
		background: transparent;
		border-width: 0;
		color: $gray-bg;
		font-weight: 300;
		padding: 10dp 0 0;
		margin: 0;
	}

	&--textarea {
		height: auto;
	}

	&--special {
		.icon {
			color: $light-gray-border;
			font-size: 20dp;
		}
	}
}

.form-header {
	font-weight: 600;
	margin: 15dp 0 15dp;
	color: $gray;
	text-transform: uppercase;
	font-size: 16dp;
}

.input-label {
	color: $gray;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 12dp;
}

.select-chevron {
	rotate: 180deg;
	color: #bac1c4;
	font-size: 10dp;
}

.form-container {
	padding: 20dp;
}

.checkbox-row {
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 20dp;

	&--last-el{
		margin-bottom: 5dp;
	}

	.checkbox {
		margin-right: 5dp;
	}
}

.select {
	justify-content: center;
	align-items: center;
	background: white;
	width: 26dp;
	height: 26dp;
	border-width: 1dp;
	border-color: $input-border;
	border-radius: 28dp;

	&__selected {
		width: 15dp;
		height: 15dp;
		border-radius: 15dp;
		background: $green;
	}
}

.location-input {
	align-items: center;
	justify-content: space-between;

	&__value {
		color: $light-gray-text;
	}

	.icon {
		color: $light-gray-border;
	}
}