$error: #e60032;
$alert: #fc8b97;
$gray: #42494c;
$gray-bg: #bec2c4;
$light-gray: #eaedef;
$light-gray-text: #aab2b6;
$light-gray-border: #d9dcdf;
$light-gray-bg: #f9f9fa;
$gray-icon: #e0e2e3;
$white: #f4f6f8;

$light-blue: #e2f2fa;
$blue: #507cc0;
$deep-blue: #1490d4;
$danger: #de3241;
$orange: #df4930;
$green: #00d3b3;
$green-bg: #01d0af;
$dark-green: #00a88d;

$btn-height: 60dp;
$input-border: #e7e8eb;
$step-bg: #e6e9ec;