<FlexboxLayout [height]="scrollHeight"
               flexDirection="column"
               *ngIf="privateProfile">

    <StackLayout>
        <Label class="header header--full-width gray-bg"
               [text]="activeWedding? activeWedding.name : 'Wedding Profile' ">
        </Label>
    </StackLayout>

    <FlexboxLayout class="private-profile user standard-padding">

        <avatar [dir]="'wedding/' + activeWedding.id + '/avatars'"
                [filename]="activeWedding? activeWedding.avatar : '' "
                class="user__avatar user__avatar--lg"
                [size]="180"></avatar>

        <Label class="private-profile__label" text="This profile is private">
        </Label>

        <Button class="btn btn--action btn--sides-padding btn--small text-uppercase"
                text="Request access">
        </Button>

    </FlexboxLayout>

</FlexboxLayout>

<ScrollView [height]="scrollHeight"
            *ngIf="!privateProfile"
            width="100%">

    <FlexboxLayout flexDirection="column">

        <StackLayout #topElements >

            <Label class="header header--full-width gray-bg"
                   [text]="activeWedding? activeWedding.name : 'Wedding Profile'">
            </Label>

            <FlexboxLayout class="user standard-padding"
                           flexDirection="column">

                <FlexboxLayout justifyContent="flex-end">
                    <Label text="&#xe90b;" class="icon icon--dots"></Label>
                </FlexboxLayout>

                <FlexboxLayout flexDirection="column" alignItems="center">

                    <avatar [dir]="'wedding/' + activeWedding.id + '/avatars'"
                        [filename]="activeWedding? activeWedding.avatar : '' "                        
                        [size]="160"></avatar>

                    <Label  [text]="activeWedding? activeWedding.description : 'Wedding Profile'"
                           textWrap="true"
                           class="user__description">
                    </Label>

                    <Label class="user__show-more" text="Show more" visibility="collapsed">
                    </Label>

                </FlexboxLayout>

            </FlexboxLayout>


            <ScrollView *ngIf="!privateProfile"
                        orientation="horizontal">

                <StackLayout class="tab-bar">

                    <Label class="tab-bar__tab" text="Timeline"
                           [class.tab-bar__tab--active]="activeTab === 'timeline'"
                           (tap)="selectTab('timeline')">
                    </Label>

                    <Label class="tab-bar__tab" text="Informations"
                           [class.tab-bar__tab--active]="activeTab === 'informations'"
                           (tap)="selectTab('informations')">
                    </Label>

                    <Label class="tab-bar__tab" text="Photos"
                           [class.tab-bar__tab--active]="activeTab === 'photos'"
                           (tap)="selectTab('photos')">
                    </Label>

                    <Label class="tab-bar__tab" text="Guest list"
                           [class.tab-bar__tab--active]="activeTab === 'guest-list'"
                           (tap)="selectTab('guest-list')">
                    </Label>

                </StackLayout>

            </ScrollView>

        </StackLayout>

        <StackLayout *ngIf="!privateProfile">

            <couple-timeline *ngIf="activeTab === 'timeline'"></couple-timeline>

            <couple-informations *ngIf="activeTab === 'informations'"></couple-informations>

            <couple-photos *ngIf="activeTab === 'photos'"></couple-photos>

            <!--<couple-guest-list *ngIf="activeTab === 'guest-list'"></couple-guest-list>-->

        </StackLayout>

    </FlexboxLayout>

</ScrollView>

