.guest{
    flex-direction:column;
    background:white;
    padding:20dp 20dp 10dp 20dp;
    margin-bottom:10dp;
    justify-content:space-between
}
.guest__header{
    padding-bottom:20dp;
    flex-direction:row;
    margin-bottom:10dp;
    align-items:center;
    justify-content:space-between;
    border-bottom-width:1dp;
    border-bottom-color:#d9dcdf
}
.guest__header .icon{
    font-size:24dp;
    margin-left:5%;
    color:#aab2b6
}
.guest__title{
    font-size:18dp;
    font-weight:500;
    color:#42494c;
}
.guest__role{
    margin-left:20%;
    padding:3dp 10dp;
    border-radius:16dp;
    font-size:12dp;
    text-transform:uppercase;
    color:white;
    background:#bec2c4
}
.guest__info{
    align-items:center;
    margin:5dp 0
}
.guest__side{
    font-size:15dp;
    color:#aab2b6;
    text-transform:capitalize
}
.guest__label{
    width:60%;
    color:#42494c;
    font-size:13dp;
    text-transform:uppercase;
    font-weight:500
}
.guest__attending{
    font-size:20dp
}
.guest__attending--true{
    color:#00d3b3
}
.guest__attending--false{
    color:#df4930
}
