<ScrollView width="100%" [height]="containerHeight"
            class="gray-bg">

    <StackLayout width="100%" height="auto">

        <FlexboxLayout alignItems="center" justifyContent="space-between">

            <Label class="text-l standard-padding section-header"
                   text="Tasks">
            </Label>

            <FlexboxLayout class="btn btn--flex btn--action btn--small">

                <Label text="&#xe90a;" class="icon"></Label>

                <Label class="btn__text"
                       (tap)="openCreateModal()"
                       text="Create new task">
                </Label>
               

            </FlexboxLayout>

        </FlexboxLayout>

        <task  *ngFor="let task of tasks"
               [task]="task"
               [activeWeddingId]="activeWeddingId">
        </task>
        <FlexboxLayout>
            <Label class="show_more"
                    text="Recommended:Roman Photography,...Show More">
            </Label>
        </FlexboxLayout>
    </StackLayout>

</ScrollView>
