<ScrollView height="100%">

    <StackLayout width="100%" height="auto"
                 class="form-container">

        <Label class="input-label" text="Profile picture">
        </Label>

        <upload-photo (photoSelected)="setValue('avatar', $event)">
        </upload-photo>

        <Label class="input-label" text="Couple profile name*">
        </Label>

        <TextField class="input input--light"
                   (textChange)="setValue('name', $event, 'value')"
                   hint="i.e. Jenny & Mike Wedding">
        </TextField>

        <Label class="input-label" text="Description">
        </Label>

        <TextView class="input input--light input--textarea"
                  (textChange)="setValue('description', $event, 'value')"
                  hint="i.e. couple story">
        </TextView>

        <Label class="input-label" text="Reception date*">
        </Label>

        <date-input (dateChanged)="setEventDate(1, $event)"
                    [useHours]="true">
        </date-input>

        <Label class="input-label" text="Reception location">
        </Label>

        <location-input (locationChanged)="setEventLocation(1, $event)">
        </location-input>

        <Label class="input-label" text="Wedding date">
        </Label>

        <date-input (dateChanged)="setEventDate(0, $event)"
                    [useHours]="true">
        </date-input>


        <Label class="input-label" text="Wedding location*">
        </Label>

        <location-input (locationChanged)="setEventLocation(0, $event)">
        </location-input>

        <StackLayout class="divider">
        </StackLayout>

        <FlexboxLayout justifyContent="center">
            <Button 
                *ngIf="values.description != ''"
                class="btm btn--action btn--sides-padding next-step-btn btn--md btn--semibold text-uppercase"
                    flexShrink="1"
                    (tap)="nextStep()"
                    text="Next step">
            </Button>
        </FlexboxLayout>

    </StackLayout>


</ScrollView>