<div class="social-buttons mt-4">
    <div class="row no-gutters">
        <div class="col-md-6 pr-md-2 pb-1">
            <a href="/login/facebook" class="btn btn-facebook"><i class="mdi mdi-facebook-box"></i> {{action}} with Facebook</a>
        </div>
        <div class="col-md-6 pl-md-2 pb-1">
            <a href="/login/google" class="btn btn-google"><i class="mdi mdi-google-plus-box"></i> {{action}} with Google</a>
        </div>
    </div>
</div>