.forgot-password {
	text-align: center;
	margin-top: 10dp;
	margin-bottom: 30dp;
}

.sign-in {
	margin-top: 20dp;
	font-size: 21dp;
	margin-bottom: 12dp;
}

.container {
	margin-top: 15%;
}

.social-login {
	margin-top: 10dp;
}