@import '../../../resources/scss/variables';

.upload-photo {
	justify-content: center;
	align-items: center;
	font-size: 25dp;
	border-radius: 120dp;
	height: 120dp;
	width: 120dp;
	background: $light-gray;
	margin-bottom: 10dp;

	.icon {
		color: #bec2c4;
	}
}
.selected_image {
	justify-content: center;
	align-items: center;
	font-size: 25dp;
	border-radius: 120dp;
	height: 120dp;
	width: 120dp;
	background: $light-gray;	
	.icon {
		color: #bec2c4;
	}
}
.camera_icon {
	justify-content: center;
	align-items: center;
	font-size: 25dp;
	border-radius: 120dp;
	height: 120dp;
	width: 120dp;
	background: $light-gray;	
	.icon {
		color: #bec2c4;
	}
}