<ScrollView 
            [height]="containerHeight"
            class="gray-bg">

    <StackLayout  height="auto" class="modal__body">

        <FlexboxLayout alignItems="center" justifyContent="space-between" class="modal__header title">

            <Label class="modal__title"
                   text="Filters">
            </Label>

            <FlexboxLayout>
            <Label class="clean" text="Clean filters">
            </Label>

            <Label text="&#xe90f;"
                   (tap)="close()"
                   class="icon"></Label>
            </FlexboxLayout>
        </FlexboxLayout>

        <StackLayout class = "categroy">
            <Label  text="CATEGORY">
            </Label>

            <select-input [items]="vendorCategories" [hint]="'Reception Venues'"
                [selectedElement] = "filters.categoryId?(vendorCategories?vendorCategories[filters.categoryId]:''):''"
                (itemSelected)="setCategory($event)">
            </select-input>
        </StackLayout>

        <Label class="categroy" text="LOCATION">
        </Label>

        <StackLayout class = "categroy">
            <Label class="input-label" text="CITY/ZIP-CODE">
            </Label>

            <!-- <select-input [items]="sides" [hint]="'Moncton, NB'"
                          (itemSelected)="setValue('side', $event)">
            </select-input> -->
            <location-input 
                [location] = "filter_location_text"
                (locationChanged)="setEventLocation($event)"
                (text)="location_text($event)">
            </location-input>
        </StackLayout>

        <StackLayout class="radio_checkbox">

            <Label class="input-label" text="DISTANCE">
            </Label>

            <radio-buttons [options]="DistanceOption" 
                [selected] = "DistanceSelectedIndex" 
                (valueChanged)="valueChanged(0,$event)">
            </radio-buttons>

            <Label class="input-label" text="RATING">
            </Label>

            <radio-buttons [options]="Rating_starOption"
                [selected] = "filters.rating?ReversIndex[filters.rating]:0" 
                (valueChanged)="valueChanged(1,$event)">
            </radio-buttons>

            <Label class="input-label" text="RATING">
            </Label>

            <radio-buttons [options]="RatingOption"
                [selected] = "filters.rate?ReversIndex[filters.rate]:0"
                 (valueChanged)="valueChanged(2,$event)">
            </radio-buttons>

         </StackLayout>
         <FlexboxLayout justifyContent="center">
            <Button class="btn btn--flex btn--action btn_filter"
                    flexShrink="1"
                    (tap)="nextStep()"
                    text="SUBMIT">
            </Button>
        </FlexboxLayout>
    </StackLayout>
    
</ScrollView>