<FlexboxLayout class="guest standard-padding">

    <FlexboxLayout class="guest__header">
        <Label class="guest__title" 
                [text]="guest.firstName + ' ' + guest.lastName"></Label>

        <Label *ngIf="guest.role" class="guest__role" 
                [text]="guest.role.name"></Label>

        <Label class="icon" text="&#xe90b;"
             (tap)="delete_editModal()"
              ></Label>
    </FlexboxLayout>

    <StackLayout>
        <FlexboxLayout *ngIf="guest.side" class="guest__info">
            <Label class="guest__label" 
                    text="side"></Label>
            <Label class="guest__side" 
                    [text]="guest.side.name + ' side'"></Label>
        </FlexboxLayout>

        <FlexboxLayout class="guest__info">
            <Label class="guest__label" 
                    text="ceremony"></Label>
            <Label class="icon guest__attending guest__attending--true" 
                    text="&#xe915;"></Label>
        </FlexboxLayout>

        <FlexboxLayout class="guest__info">
            <Label class="guest__label" 
                    text="reception"></Label>
            <Label class="guest__attending guest__attending--false icon" 
                    text="&#xe90f;"></Label>
        </FlexboxLayout>
    </StackLayout>

</FlexboxLayout>