@import '../../../../resources/scss/variables';

.guest {
	flex-direction: column;
	background: white;
	padding: 20dp 20dp 10dp 20dp;
	margin-bottom: 10dp;
	justify-content: space-between;
	
	&__header {
		padding-bottom: 20dp;
		flex-direction: row;
		margin-bottom: 10dp;
		align-items: center;
		justify-content: space-between;
		border-bottom-width: 1dp;
		border-bottom-color: $light-gray-border;

		.icon {
			font-size: 24dp;
			margin-left: 5%;
			color: $light-gray-text;
		}
	}
	

	&__title {

		font-size: 18dp;
		font-weight: 500;
		color: $gray;
	}

	&__role {
		
		padding: 3dp 10dp;
		border-radius: 16dp;
		font-size: 12dp;
		text-transform: uppercase;
		color: white;
		background: $gray-bg;
	}

	&__info {
		align-items: center;
		margin: 5dp 0;
	}

	&__side {
		font-size: 15dp;
		color: $light-gray-text;
		text-transform: capitalize;
	}

	&__label {
		width: 60%;
		color: $gray;
		font-size: 13dp;
		text-transform: uppercase;
		font-weight: 500;
	}

	&__attending {
		font-size: 20dp;

		&--true {
			color: $green;
		}

		&--false {
			color: $orange;
		}

	}
}