@import '../../../../resources/scss/variables.scss';

.user-type {
	height: 130dp;
	margin-bottom: 60dp;

	&__title {
		text-align: center;
		font-weight: 500;
		margin-bottom: 20dp;
	}

	&__tab {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 33%;
		background: $light-gray;

		.icon {
			font-size: 70dp;
			color: $light-gray-text;
		}

		&--active {
			background: $green;

			.icon {
				color: white;
			}
		}
	}
}

.sign-up {
	margin-bottom: 15dp;
	padding-top: 14%;
}

.already-member {
	margin: 20dp 0;
}

.firstName {
	margin-right: 10dp;
}

.lastName {
	margin-left: 10dp;
}