<div class="notifications-indicator navbar-indicator">
    <div class="dropdown" ngbDropdown placement="bottom-left" #dropdown="ngbDropdown" (openChange)="toggleDropdown($event)">
        <a id="navbarDropdown" role="button" data-toggle="dropdown" ngbDropdownToggle>
            <mat-icon svgIcon="bell"></mat-icon>
            <div *ngIf="notificationsCount" class="counter">{{notificationsCount}}</div>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
            <div *ngIf="notifications.length" class="list" [infiniteScrollContainer]="'.list'" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2" [infiniteScrollThrottle]="200" (scrolled)="getNotifications()" [infiniteScrollDisabled]="infiniteScrollDisabled">
                <a *ngFor="let notification of notifications" [routerLink]="getRouterLink(notification)" class="dropdown-item" [ngClass]="{'new': !notification.isRead}">
                    <cdn-image class="avatar" [dir]="notification.actor ? (notification.actor.isWedding ? 'wedding/' : 'account/') + notification.actor.id + '/' + 'avatars' : null" [filename]="notification.actor ? notification.actor.avatar : null" [width]="30" [rounded]="true"></cdn-image>
                    <div class="content">
                        <strong *ngIf="notification.actor" class="actor">{{notification.actor.name}}</strong>
                        <strong *ngIf="notification.additionalData.guest" class="actor">{{notification.additionalData.guest.firstName}} {{notification.additionalData.guest.lastName}}</strong>
                        <span class="action">
                            <span *ngIf="notification.type == 'comment_created'"> {{ 'commented your story post' | translate }}</span>
                            <span *ngIf="notification.type == 'like_created'"> {{ 'liked your story post' | translate }}</span>
                            <span *ngIf="notification.type == 'invitation_received'"> {{ 'invited you to plan a wedding' | translate }}</span>
                            <span *ngIf="notification.type == 'vendor_review_created'"> {{ 'reviewed your vendor profile' | translate }}</span>
                            <span *ngIf="notification.type == 'guest_status_changed'">
                                <span *ngIf="notification.additionalData.newCeremonyStatusId == 3"> {{ 'confirmed ceremony invitation' | translate }}</span>
                                <span *ngIf="notification.additionalData.newCeremonyStatusId == 4"> {{ 'rejected ceremony invitation' | translate }}</span>
                                <span *ngIf="notification.additionalData.newReceptionStatusId == 3"> {{ 'confirmed reception invitation' | translate }}</span>
                                <span *ngIf="notification.additionalData.newReceptionStatusId == 4"> {{ 'rejected reception invitation' | translate }}</span>
                            </span>
                        </span>
                        <div class="created">{{notification.createdAt | amTimeAgo}}</div>
                    </div>
                </a>
            </div>
            <span class="p-5 text-center" *ngIf="loading">{{ 'Loading' | translate }}...</span>
            <div class="p-2 text-center" *ngIf="!loading && notifications.length == 0">{{ 'There are no notifications' | translate }}</div>
        </div>
    </div>
</div>
