@import '../../../../resources/scss/variables.scss';

.main-screen {
	background-image: url("~/resources/images/app_splash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

Button {
	background: white;
	margin: 0 15%;
	padding-top: 10%;
}

.welcome-btn {
	width: 80%;
	text-align:center;
	padding-top: 12%;
}

.app-title {
	margin-top: 10dp;
	font-family: 'Arapey'; // TODO add Akrobat font for only logo text ??
	font-weight: 500;
	font-size: 26dp;
	text-transform: uppercase;
	color: white;
}

.sign-in {
	border-radius: $btn-height;
	margin-top: 60dp;
	margin-bottom: 20dp;
	background-image: url("~/resources/images/peach-to-pink_gradient.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	height: $btn-height;
	
	font-size: 20dp;
	line-height: $btn-height;
	text-transform: none;
	width: auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	justify-content: center;
	
}

.sign-up {
	border-radius: $btn-height;
	height: $btn-height;
	color: $gray;
	font-size: 20dp;
	line-height: $btn-height;
	text-transform: none;
	width: auto;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	justify-content: center;
}

