<StackLayout class="comment" [class.comment--edit]="editActive">

    <FlexboxLayout *ngIf="!editActive"
                   alignItems="flex-start">

        <StackLayout class="comment__avatar">
            <avatar *ngIf="!comment.asWedding"
                    [dir]="'account/' + comment.author.account.id + '/' + 'avatars'"
                    [filename]="comment.author.account.avatar"
                    [size]="25">
            </avatar>

            <avatar *ngIf="comment.asWedding"
                    [nsRouterLink]="['/wedding', comment.author.wedding.id]"
                    [dir]="'wedding/' + comment.author.wedding.id + '/' + 'avatars'"
                    [filename]="comment.author.wedding.avatar"
                    [size]="25">
            </avatar>
        </StackLayout>

        <StackLayout>

            <FlexboxLayout justifyContent="space-between" width="100%">

                <FlexboxLayout class="comment__body">

                    <label *ngIf="!comment.asWedding"
                           class="comment__author"
                           [text]="comment.author.account.firstName + ' ' + comment.author.account.lastName">
                    </label>
                    <label *ngIf="comment.asWedding"
                           class="comment__author"
                           [text]="comment.author.wedding.name"
                           [nsRouterLink]="['/wedding', comment.author.wedding.id]">
                    </label>

                    <label class="comment__text"
                           textWrap="true"
                           [text]="comment.text">
                    </label>

                </FlexboxLayout>

                <Label class="post__more-btn icon"
                       *ngIf="comment.author.wedding!=null && comment.author.wedding.id === weddingId"
                       (tap)="openSelectActionModal()"
                       text="&#xe90b;">
                </Label>

            </FlexboxLayout>

            <label class="comment__createdAt"
                   [text]="comment.createdAt | amTimeAgo">
            </label>

        </StackLayout>

    </FlexboxLayout>

    <comment-form *ngIf="editActive"
            [postId]="postId"
            [editForm]="true"
            [comment]="comment"
            [weddingId]="weddingId"
            [asWedding]="asWedding"
            (onSuccess)="onCommentEditSuccess($event)"
            (cancelEditEvent)="toggleEdit()"
                 >
    </comment-form>

</StackLayout>
