@import '../../../../../resources/scss/variables';

.privacy-type {
	orientation: horizontal;
	margin: 15dp 20dp;
	padding: 25dp 25dp 25dp 20dp;
	border-width: 1dp;
	border-color: $light-gray-border;
	border-radius: 1dp;

	&--active {
		border-color: $green;

		.privacy-type {
			&__icon {
				.icon {
					color: $green;
				}
			}
		}
	}

	&__icon {
		height: 100%;
		align-items: center;
		margin-right: 15dp;

		.icon {
			color: #bec2c4;
			font-size: 65dp;
		}
	}


	&__header, &__details {
		font-size: 13dp;
	}

	&__header {
		color: #4f5659;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 5dp;
	}

	&__details {
		color: #9ea1a3;
		line-height: 1.3;
	}

}

.privacy-btns {
	padding: 0 30dp;
	margin-bottom: 20dp;
}