<ScrollView height="100%">
    <StackLayout width="100%" height="auto">

        <StackLayout class="privacy-type"
                     (tap)="selectPrivacyType(PrivacySettingsEnum.Private)"
                     [class.privacy-type--active]="privacyType === PrivacySettingsEnum.Private">

            <FlexboxLayout class="privacy-type__icon">
                <Label class="icon" text="&#xe910;"></Label>
            </FlexboxLayout>

            <StackLayout>

                <Label class="privacy-type__header" text="Private profile"></Label>

                <Label class="privacy-type__details" textWrap="true"
                       text="Integer nec tincidunt ex, non rhoncus sem. Quisque porttitor blandit.">
                </Label>

            </StackLayout>

        </StackLayout>


        <StackLayout class="privacy-type"
                     (tap)="selectPrivacyType(PrivacySettingsEnum.Followers)"
                     [class.privacy-type--active]="privacyType === PrivacySettingsEnum.Followers">

            <FlexboxLayout class="privacy-type__icon">
                <Label class="icon" text="&#xe914;"></Label>
            </FlexboxLayout>

            <StackLayout>

                <Label class="privacy-type__header" text="Followers only"></Label>

                <Label class="privacy-type__details" textWrap="true"
                       text="Integer nec tincidunt ex, non rhoncus sem. Quisque porttitor blandit.">
                </Label>

            </StackLayout>

        </StackLayout>

        <StackLayout class="privacy-type"
                     (tap)="selectPrivacyType(PrivacySettingsEnum.Registered)"
                     [class.privacy-type--active]="privacyType === PrivacySettingsEnum.Registered">

            <FlexboxLayout class="privacy-type__icon">
                <Label class="icon" text="&#xe913;"></Label>
            </FlexboxLayout>

            <StackLayout>

                <Label class="privacy-type__header" text="Registered users only"></Label>

                <Label class="privacy-type__details" textWrap="true"
                       text="Integer nec tincidunt ex, non rhoncus sem. Quisque porttitor blandit.">
                </Label>

            </StackLayout>

        </StackLayout>

        <StackLayout class="privacy-type"
                     (tap)="selectPrivacyType(PrivacySettingsEnum.Public)"
                     [class.privacy-type--active]="privacyType === PrivacySettingsEnum.Public">

            <FlexboxLayout class="privacy-type__icon">
                <Label class="icon" text="&#xe912;"></Label>
            </FlexboxLayout>

            <StackLayout>

                <Label class="privacy-type__header" text="Public profile"></Label>

                <Label class="privacy-type__details" textWrap="true"
                       text="Integer nec tincidunt ex, non rhoncus sem. Quisque porttitor blandit.">
                </Label>

            </StackLayout>

        </StackLayout>

        <StackLayout class="privacy-btns">

            <StackLayout class="divider">
            </StackLayout>

            <FlexboxLayout class="bottom-buttons">

                <StackLayout class="bottom-buttons__first" width="50%">

                    <Button class="btm btn--light-gray next-step-btn btn--md btn--semibold text-uppercase"
                            (tap)="previousStep()"
                            text="Previous step">
                    </Button>

                </StackLayout>

                <StackLayout class="bottom-buttons__last" width="50%">

                    <Button class="btm btn--action next-step-btn btn--md btn--semibold text-uppercase"
                            (tap)="createProfile()"
                            text="Create profile">
                    </Button>

                </StackLayout>

            </FlexboxLayout>

        </StackLayout>

    </StackLayout>
</ScrollView>