<StackLayout>
    <ScrollView class="market gray-bg">
        <StackLayout>          
            <StackLayout>                
                <FlexboxLayout class="subject1" visibility="collapsed">
                    <Label [text]="marketplace.category.name"                            
                            class="text-m title"></Label>
                    <label class="dec1" text=" near "></label>
                    <label class="dec2" [text]="city"></label>
                    <!-- <label class="dec3" [text]="marketplace.zipcode"></label> -->
                </FlexboxLayout>
                <StackLayout class="image-position">
                    <Image [src]="imageSrc"                        
                        (tap)="detail_info()"
                        class="marketplace_image"
                        stretch="aspectFill"
                        ></Image>

                </StackLayout>
                <StackLayout class = "detail">
                
                    <Label class = "marketplacename"                  
                        [text]="marketplace.name">
                    </Label>
                    <Label class = "address"                  
                            [text]="marketplace.address">
                    </Label>
                    <StackLayout orientation="horizontal">
                        <StackLayout class="star_rating">
                            <custome-star [value]="marketplace.rating" ></custome-star>      
                        </StackLayout>
                        <Label class = "review"
                            [text]="marketplace.vendorReviewsCount + ' reviews'">
                        </Label>
                    </StackLayout>
                    
                    <Label class = "price"
                            [text]="marketplace.rate!=null? mratingList[marketplace.rate]:mratingList[0]">
                    </Label>
                
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>