@import '../../../../resources/scss/variables';
.image-position{ 
    margin-top: 30px;
}
.marketplace_image {
    margin-left: 5%;
    margin-right: 5%;
}
.rating {
    margin-top: 22;
    margin-left: 10;
}
.star_rating {	
	margin-top: 5;
    width:50%;
}
.review_star_rating {
    width: 30%;
}
.marketplace-detail{
    margin-top: 30px;
}
.pricing{
    margin-top: 50px;
}
.value{
    margin-right: 3%;
}
.tab{
    &__tab{
        font-size: 14dp;
    }
}
.review {
    border-radius: $btn-height;
    padding: 4 4dp;
    font-size: 16dp;
    line-height: $btn-height;
    text-transform: none;
    width: 50dp;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    .icon {
        color: rgb(7, 7, 7);
        margin-right: 10dp;
    }
    &--action {
        background: $deep-blue;
    }
    &__text {
        text-transform: uppercase;
    }
}
.contact{
    margin-top: 50dp;
}
.prof-pic{
    padding-left:50%;
}
.facebook{
    margin: 3dp;
}
.tweet{
    margin: 3dp;
}
.google{
    margin: 3dp;
}
.statevalue{
    justify-content: space-between;
    flex-direction: column;
    
}
.state{
    justify-content: space-between;
    flex-direction: row;
    width: 87%;
}
.value{
    align-items: center;
    width: 13%;
}
.review__text {
    width: 100;
    height:30;
    color:white;
}
.review_margin {
    margin-left: 27%;
}
.bold {
    font-weight: bold;
}
.marginleft10{
    margin-left: 10;
}
.margintop10 {
    margin-top: 10;
}
.margintop5 {
    margin-top: 5;
}