<ul class="nav clearfix">
    <li>
        {{{link 'nav-link' path (concat '/profiles/' profile.id) 'Timeline' false}}}
    </li>
    <li>
        {{{link 'nav-link' path (concat '/profiles/' profile.id '/informations') 'Informations' false}}}
    </li>
    <li>
        {{{link 'nav-link' path (concat '/profiles/' profile.id '/photos') 'Photos' false}}}
    </li>
    <li>
        {{{link 'nav-link' path (concat '/profiles/' profile.id '/guest-list') 'Guest list' false}}}
    </li>
</ul>