<ScrollView [height]="containerHeight"
            *ngIf="!privateProfile"
            width="100%">

    <FlexboxLayout flexDirection="column">

        <StackLayout #topElements *ngIf="vendor!=null">

            <Label class="header header--full-width gray-bg"
                   [text]="vendor.name">
            </Label>

            <FlexboxLayout class="user standard-padding"
            flexDirection="column" >

                <FlexboxLayout justifyContent="flex-end">
                    <Label text="&#xe90b;" class="icon icon--dots"></Label>
                </FlexboxLayout>
                <FlexboxLayout flexDirection="column" alignItems="center">
                    <Label [text]="vendor.address"></Label>
                    <StackLayout orientation="horizontal">
                        <StackLayout class="star_rating">
                            <custome-star [value]="vendor.rating" [size]="50" ></custome-star>      
                        </StackLayout>
                        <Label 
                            [text]="vendor.vendorReviewsCount + ' reviews'"
                            class="rating"></Label>
                    </StackLayout>
                    
                    <Label text="$4800/50 Guests" visibility='collapsed'></Label>
                    <Label text="starting cost" visibility='collapsed'></Label>
                </FlexboxLayout>
                
                <FlexboxLayout justifyContent="center" style="margin-top:1%; height: 40;" visibility="collapsed">
                    <Button class="btm btn--action next-step-btn btn--md btn--semibold text-uppercase"
                            flexShrink="1"                            
                            text="request quote">
                    </Button>
                </FlexboxLayout>
                <FlexboxLayout justifyContent="center" style="margin-top:1%;margin-bottom: 2%; height: 40;">
                    <Button class="btm btn--light-gray next-step-btn btn--md btn--semibold text-uppercase"
                            flexShrink="1"                            
                            text="message vendor">
                    </Button>
                </FlexboxLayout>
                <FlexboxLayout class="tab-bar">
                    <Label class="tab-bar__tab" text="Photo"
                           [class.tab-bar__tab--active]="activeTab === 'Photo'"
                           (tap)="selectTab('Photo')">
                    </Label>

                    <Label class="tab-bar__tab" text="About"
                           [class.tab-bar__tab--active]="activeTab === 'About'"
                           (tap)="selectTab('About')">
                    </Label>

                    <Label class="tab-bar__tab" text="Pricing"
                           [class.tab-bar__tab--active]="activeTab === 'Pricing'"
                           (tap)="selectTab('Pricing')">
                    </Label>

                    <Label class="tab-bar__tab" text="Reviews"
                           [class.tab-bar__tab--active]="activeTab === 'Reviews'"
                           (tap)="selectTab('Reviews')">
                    </Label>
                    <Label class="tab-bar__tab" text="Contact"
                           [class.tab-bar__tab--active]="activeTab === 'Contact'"
                           (tap)="selectTab('Contact')">
                    </Label> 

                </FlexboxLayout>
               
                <StackLayout class="image-position">
                    <Image *ngIf="galleryImages.length" [src]="galleryImages[0].medium"></Image>       
                </StackLayout>

                <StackLayout class="marketplace-detail">
                    <Label text="ABOUT THIS VENDOR" class="h3 bold">
                    </Label>
                    <Label  textWrap="true" class="h4" 
                        [text]="vendor.description">
                     </Label>
                </StackLayout>
                <StackLayout class="pricing" *ngIf="vendorProducts.length">
                    <Label text="PRICING" class="h3 bold">
                    </Label>
                </StackLayout>                
                <StackLayout class="divider divider--asymetrical"></StackLayout>
                <StackLayout *ngFor="let vendorProduct of vendorProducts">
                    <FlexboxLayout>
                        <Label [text]="vendorProduct.name" class="h3 state">
                        </Label>
                
                        <Label [text]="'$'+vendorProduct.price" class="h3 value">
                        </Label>
                    </FlexboxLayout>
                    <StackLayout class="divider divider--asymetrical"></StackLayout>
                </StackLayout>
                
                <StackLayout visibility="collapsed">
                        <Label textWrap="true" text="Duis sagittis, felis quis luctus venenatis,felis sapien molestie elit,a interdum justo lorem ac" class="h3">
                        </Label>
                </StackLayout>

                <StackLayout>
                    <label text = "REVIEWS"  class="h3 bold"></label>
                </StackLayout>

                <StackLayout *ngFor="let vendorReview of vendorReviews">
                    <StackLayout>
                        <StackLayout orientation="horizontal">
                            <StackLayout class="review_star_rating">
                                <custome-star [value]="vendorReview.rating" [size]="30" ></custome-star>   
                            </StackLayout>
                            <Label textWrap="true" 
                                [text]="'Reviewed on ' + (vendorReview.updatedAt | amTimeAgo) + ' by ' + vendorReview.author.name" 
                                class="h4 marginleft10 margintop5">
                            </Label>
                        </StackLayout>                            
                        <Label textWrap="true" [text]="vendorReview.text" class="h3">
                        </Label>
                    </StackLayout>
                    
                    <StackLayout class="divider divider--asymetrical"></StackLayout>
                </StackLayout>
                <FlexboxLayout  justifyContent="center" *ngIf="activeProfile && activeProfile.type !== 'vendor' && !vendor.isOwner && !vendor.isReviewed">
                    <StackLayout class="btn btn--action btn--small" orientation="horizontal" alignSelf="center">
                        <Label text="&#xe90a;" class="icon"></Label>
                        <Label class="btn__text"
                                (tap)="openWritereviewModal()"
                            text="WRITE A REVIEW">
                        </Label>        
                    </StackLayout>
                </FlexboxLayout>
                <StackLayout>
                    <Label  text="CONTACT" class="contact h3 bold"></Label>                                
                </StackLayout>
                <GridLayout rows="auto,auto,auto,auto,auto" columns="auto, auto,auto,auto,auto" class="layout">                    
                    <label [text]="vendor.name" class="h3 info_fromWho"  row="1" col = "1"></label>
                    <label [text]="vendor.address" class="info_date" row="2" col = "1"></label>
                    <label text=" " class="info info_advtitle"  row="3" col = "1"></label>
                    <!-- <label text="(519)942-0754" class="info info_advdesc" row="4" col = "1"></label> -->
                    <label text="                    " class="info info_advdesc" row="2" col = "2"></label>
                    <!-- <image src="~/resources/images/mark_image.png" class="prof-pic" rowSpan="4" col="2" width="35%" heigth = "35%"></image>  -->
                </GridLayout>
                <StackLayout *ngFor="let vendorContact of vendor.contacts">
                    <label *ngIf="vendorContact.isPublic" [text]="vendorContact.value" class="info info_advdesc"></label>
                </StackLayout>
                <FlexboxLayout>
                  <image src="~/resources/images/facebook.png" class="facebook" width="7%" heigth = "7%"></image> 
                  <image src="~/resources/images/tweet.png" class="tweet" width="7%" heigth = "7%"></image> 
                  <image src="~/resources/images/googlmap.png" class = "google" width="7%" heigth = "7%"></image> 
                </FlexboxLayout>
            </FlexboxLayout>
        </StackLayout>
    </FlexboxLayout>
</ScrollView>