<div class="modal">
    <div class="modal-dialog modal-wa" role="document">
        <div class="modal-content">
            <div class="modal-wa-form">
                <h2>Set new password</h2>
                {{> components/flash/index center=true}}
                <form method="post" data-parsley-validate data-parsley-error-class="is-invalid" data-parsley-success-class="is-valid">
                    <div class="form-group">
                        <input class="form-control form-control-lg" name="password" placeholder="New password" type="password" minlength="8" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg" name="password_repeat" placeholder="Repeat new password" type="password" minlength="8" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-custom" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{#if user}}{{else}}<div class="text-center text-muted mt-4">Already have an account? <a class="ml-2" href="/login">Sign In</a></div>{{/if}}
</div>