<div class="add-guest-modal" (drop)="$event.preventDefault();">
    <form (ngSubmit)="onSubmit()" #guestForm="ngForm">
        <div class="modal-header">
            <h4 class="modal-title">
            <span *ngIf="mode == 'add'">{{ 'Add' | translate }}</span><span *ngIf="mode == 'edit'">{{ 'Edit' | translate }}</span> {{ 'a guest' | translate }}
        </h4>
            <button type="button" class="close" aria-label="Close" (click)="cancel()">
            <mat-icon svgIcon="close-circle"></mat-icon>
        </button>
        </div>
        <div class="modal-body">
            <div *ngIf="error" class="alert alert-danger">{{error.title}}</div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="firstName">{{ 'First name' | translate }}*</label>
                        <input type="text" [(ngModel)]="guest.firstName" #firstName="ngModel" name="firstName" class="form-control form-control-lg" required="true" id="firstName">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="lastName">{{ 'Last name' | translate }}*</label>
                        <input type="text" [(ngModel)]="guest.lastName" #lastName="ngModel" name="lastName" class="form-control form-control-lg" required="true" id="lastName">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{ 'Side' | translate }}</label>
                        <ng-select [items]="guestSides" bindValue="id" #guestSideId="ngModel" name="guestSideId" [(ngModel)]="guest.guestSideId" placeholder="Choose" bindLabel="name"></ng-select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>{{ 'Role' | translate }}</label>
                        <ng-select [items]="guestRoles" bindValue="id" #guestRoleId="ngModel" name="guestRoleId" [(ngModel)]="guest.guestRoleId" placeholder="Choose" bindLabel="name"></ng-select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="email">{{ 'Email' | translate }}</label>
                        <input type="text" [(ngModel)]="guest.email" #email="ngModel" name="email" class="form-control form-control-lg" id="email">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-check pt-4">
                        <input type="checkbox" class="form-check-input" [(ngModel)]="guest.rsvp" #rsvp="ngModel" name="rsvp" id="rsvp">
                        <label class="form-check-label" for="rsvp">RSVP</label>
                        <small class="form-text text-muted">{{ 'Sends an email to the user with a link to the page where he can confirm his presence' | translate }}</small>
                    </div>
                </div>
            </div>
            <h6 class="mt-2">{{ 'Ceremony' | translate }}</h6>
            <div class="form-check form-check-inline py-2" *ngFor="let status of guestStatuses">
                <input type="radio" class="form-check-input" [(ngModel)]="guest.ceremonyStatusId" #ceremonyStatusId="ngModel" name="ceremony-status-{{status.id}}" id="ceremony-status-{{status.id}}" [value]="status.id">
                <label class="form-check-label mr-3" for="ceremony-status-{{status.id}}">{{status.name  | translate}}</label>
            </div>
            <h6 class="mt-3">{{ 'Reception' | translate }}</h6>
            <div class="form-check form-check-inline py-2" *ngFor="let status of guestStatuses">
                <input type="radio" class="form-check-input" [(ngModel)]="guest.receptionStatusId" #receptionStatusId="ngModel" name="reception-status-{{status.id}}" id="reception-status-{{status.id}}" [value]="status.id">
                <label class="form-check-label mr-3" for="reception-status-{{status.id}}">{{status.name | translate}}</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-lg btn-secondary" (click)="cancel()">{{ 'Cancel' | translate }}</button>
            <button type="submit" class="btn btn-lg btn-primary" [disabled]="!guestForm.form.valid || submitted">
                <span *ngIf="!submitted">{{ 'Submit' | translate }}</span><span *ngIf="submitted">{{ 'Saving' | translate }}...</span>
            </button>
        </div>
    </form>
</div>
