@import './variables.scss';

.modal {

	&__inner {
		padding: 20dp;
	}

	&__header {
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20dp;

		.icon {
			color: $light-gray-border;
			font-size: 22dp;
		}
	}

	&__title {
		font-weight: 600;
		font-size: 18dp;
		color: $gray;
		text-transform: uppercase;
	}

	&__body {

	}

	&__buttons {

	}
}