@import '../../../resources/scss/variables';

.checkbox {
	align-items: center;
	justify-content: center;
	height: 25dp;
	width: 25dp;
	border-color: $light-gray-border;
	border-width: 2dp;
	border-radius: 4dp;
	background: $white;

	&--small {
		width: 15dp;
		height: 15dp;
		border-width: 1dp;
		border-radius: 2dp;
		background: white;
	}

	&--checked {
		background: $dark-green;
		border-width: 0;
	}
}